name: Lint Actions

on:
  push:
    paths:
      - '.github/workflows/**.*'

jobs:
  actionlint:
    name: Lint GitHub Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: reviewdog/action-actionlint@v1
        with:
          reporter: github-check
          fail_on_error: true
