name: "Copilot Setup Steps"

# Automatically run the setup steps when they are changed to allow for easy validation, and
# allow manual testing through the repository's "Actions" tab
on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml

jobs:
  # The job MUST be called `copilot-setup-steps` or it will not be picked up by Copilot.
  copilot-setup-steps:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    # Set the permissions to the lowest permissions possible needed for your steps.
    # Copilot will be given its own token for its operations.
    permissions:
      contents: read

    # You can define any steps you want, and they will run before the agent starts.
    # If you do not check out your code, Copilot will do this for you.
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Kind
        uses: helm/kind-action@v1
        with:
          cluster_name: kind
          config: .github/kind-config.yml

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v4

      - name: Install SOPS
        uses: fabn/mozilla-sops-action@node20

      - name: Terraform Init
        run: terraform init -backend=false

      - name: Terraform Init (e2e)
        run: terraform -chdir=e2e init
