name: Terraform check

on:
  push:
    paths:
      - '**/*.tf'

jobs:
  terraform:
    name: Terraform check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v4

      - name: Terraform fmt
        run: terraform fmt -check -recursive
