name: Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Terraform Init
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        test:
          - deployment
          - service
          - ingress
          - anti_affinity
          - probes
          - volumes
          - env_vars
          - hpa
          - pdb
          - service_monitor
          - datadog
          - config_map
          - secret

    steps:
      - uses: actions/checkout@v4

      - name: Setup Kind Cluster
        uses: helm/kind-action@v1
        with:
          cluster_name: kind
          config: .github/kind-config.yml

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Run Test - ${{ matrix.test }}
        run: terraform test -filter=tests/${{ matrix.test }}.tftest.hcl
        env:
          KUBE_CONFIG_PATH: ~/.kube/config
